// functions for making colors
@import './../../../node_modules/materialize-css/sass/components/color';

// custom variables to override default materialize variables like colors etc.
@import './components/variables';
@import './../../../node_modules/materialize-css/sass/materialize.scss';

// font-awesome icons
$fa-font-path: "/public/fonts";
@import './../../../node_modules/font-awesome/scss/font-awesome.scss';

html {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.c_parallax-container {
  min-height: 650px;
  height: auto;
  color: rgba(255, 255, 255, 1);
}

.c_parallax-container {
  min-height: 650px;
  height: auto;
  color: rgba(255, 255, 255, 1);
}

.c_parallax-container--homepage {
  min-height: 380px;
}

.c_parallax-overlay {
  background-color: #111;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.46;
  z-index: 2;
}

.c_parallax-headline {
  margin-top: 7rem;
}

.section-logo {
  margin-top: 10rem;
}

.c_parallax-container .section {
  width: 100%;
}

.svg {
  width: 100%;
}

.map-container {
  height: 50vh;
}

.map-frame {
  position: relative;
  width: 100%;
  height: 100%;
}

// TODO After click enable interaction
.no-scrolling {
  pointer-events: none;
}
.orgs-row {
  overflow-x: scroll;
  padding-left: 10px;
}
.orgs{
  display:inline-block;
  width: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.orgs li{
  display: inline-block;
}
.org {
  margin-right:10px;
  width: 250px;
}

a {
  color:inherit;
  text-decoration: none;
}

.social-icons-row {
  margin-bottom: 0px;
}

.chapter-logo {
  width:500px; /* you can use % */
  height: auto;
}

