.idea/
node_modules/
public/
.DS_Storegit add .gitignore
.web-frontend.iml

gug-web-frontend-ecfab098b81a.json
/nbproject/private/
/functions/assets/
/functions/controllers/
/functions/models/
/functions/_asyncHelpers.js
/functions/app.js
/functions/errorDefinitions.js
/functions/config.js
/functions/views/