footer.page-footer
  .container
    .row
      .col.l8.s12
        h5.white-text GUG Bio
        p.grey-text.text-lighten-4 GUG.cz je společenství skupin lidí se zájmem o Google technologie, nezávislé na Google. Pořádáme setkávání, přednášky, workshopy a další akce. V našich skupinách se potkávají vývojáři, lidé z firem, geeci a uživatelé, a učitelé.
      .col.l4.s12
        h5.white-text Sledujte nás
        ul.row
          li.col
            a(href='https://plus.google.com/\+GugCz',target='_blank')
              i.white-text.fa.fa-2x.fa-google-plus-square(aria-hidden='true')
          li.col
            a(href='https://www.facebook.com/GUG.cz/',target='_blank')
              i.white-text.fa.fa-2x.fa-facebook-square(aria-hidden='true')
          li.col
            a(href='https://twitter.com/GUGcz',target='_blank')
              i.white-text.fa.fa-2x.fa-twitter-square(aria-hidden='true')
          li.col
            a(href='http://www.youtube.com/gugczgroup',target='_blank')
              i.white-text.fa.fa-2x.fa-youtube-square(aria-hidden='true')
          li.col
            a(href='http://feeds.feedburner.com/akceGUGcz',target='_blank')
              i.white-text.fa.fa-2x.fa-rss-square(aria-hidden='true')


  .footer-copyright
    .container
      | © 2014 - 2017
      a.grey-text.text-lighten-4.right(href='#!') With love made by GUGers

    script(src='/public/js/app.min.js')
