footer.page-footer.teal
  .container
    .row
      .col.l6.s12
        h5.white-text GUG Bio
        p.grey-text.text-lighten-4 GUG.cz je společenství skupin lidí se zájmem o Google technologie, nezávislé na Google. Pořádáme setkávání, přednášky, workshopy a další akce. V našich skupinách se potkávají vývojáři, lidé z firem, geeci a uživatelé, a učitelé.

  .footer-copyright
    .container
      | © 2014 - 2017 
      a.grey-text.text-lighten-4.right(href='#!') With love made by GUGers

    script(src='/public/js/app.min.js')
