.navbar-fixed
  nav
    .nav-wrapper.container
      a.brand-logo(href='/')
        picture
          source(type='image/svg+xml', srcset='/public/images/logos/logo-gug.svg')
          img(src='/public/images/logos/logo-gug.png', alt='Logo GUG.cz')
        ul.right.hide-on-med-and-down
          li
            a(href='/events').disabled Akce
          li
            a(href='/events').disabled Historie
          li
            a(href='/events').disabled Chci se přidat
