mixin link-icon(type)
  if type === 'web'
    i.grey-text.fa.fa-2x.fa-globe(aria-hidden='true')
  else if type === 'twitter'
    i.grey-text.fa.fa-2x.fa-twitter(aria-hidden='true')
  else if type === 'google-plus'
    i.grey-text.fa.fa-2x.fa-google-plus(aria-hidden='true')
  else if type === 'facebook'
    i.grey-text.fa.fa-2x.fa-facebook(aria-hidden='true')
  else if type === 'meetup'
    i.grey-text.fa.fa-2x.fa-meetup(aria-hidden='true')
  else if type === 'google-directory'
    i.grey-text.fa.fa-2x.fa-google(aria-hidden='true')
  else if type === 'instagram'
    i.grey-text.fa.fa-2x.fa-instagram(aria-hidden='true')
  else if type === 'blog'
    i.grey-text.fa.fa-2x.fa-rss(aria-hidden='true')
  else
    i.grey-text.fa.fa-2x.fa-link(aria-hidden='true')

mixin link(type, url)
  if url.includes('http')
    a(href=url,target='_blank').waves-effect
      +link-icon(type)
  else
    a(href='https://' + url,target='_blank').waves-effect
      +link-icon(type)

mixin links(links)
  each link in links
    .col.s2
      +link(link.type, link.url)

mixin links-row(links)
  ul.row
    if links
      if links.length === 6
        +links(links)
      else if links.length === 5
        .col.offset-s1
        +links(links)
      else if links.length === 4
        .col.offset-s2
        +links(links)
      else if links.length === 3
        .col.offset-s3
        +links(links)
      else if links.length === 2
        .col.offset-s4
        +links(links)
      else if links.length === 1
        .col.offset-s5
        +links(links)

