include link.pug

mixin links-row(links)
  ul.row.social-icons-row
    if links
      if links.length >= 4
        each link in links.splice(0, 4)
          .col.s3
            +link(link.type, link.url)
      else if links.length === 3
        each link in links
          .col.s4
            +link(link.type, link.url)
      else if links.length === 2
        .col.s3
        each link in links
          .col.s3
            +link(link.type, link.url)
      else if links.length === 1
        .col.s4
        each link in links
          .col.s4
            +link(link.type, link.url)
    else
      .col.s3
        i.white-text.fa.fa-2x.fa-square(aria-hidden='true')

mixin profile-picture(url)
  if url
    img.responsive-img.circle(src=url)
  else
    img.responsive-img.circle(src='/public/images/other/non_profilepic.png')

mixin organizer(name, imageURL, links)
  li.org
    //a(href='#')
    .card
      .card-content
        +profile-picture(imageURL)
        .card-title= name
        +links-row(links)



