extends ../layout.pug
include ../mixins/link.pug

block content
  h1
  .section.green
    .container
      .card
        .card-image
          img(src='/public/images/other/event_cover.jpg')
          a.btn-floating.btn-large.halfway-fab.waves-effect.waves-light
            i.material-icons local_play
        .card-content
          span.card-title.large Angular 2 Workshop
          p Workshop zaměřený na základní koncepty a práci s frameworkem Angular ve verzi 2!
      .row
        .col.s8
          .card
            .card-content
              span.card-title Kdy a kde
              ul
                li
                  i.material-icons date_range
                  | 28.3.2017
                li
                  i.material-icons access_time
                  | 17:00
                li
                  i.material-icons location_on
                  | Masarykova univerzita, Fakulta informatiky
          .card
            .card-content
              span.card-title O akci
              p Workshop je vhodný i pro úplné začátečníky, o frameworku Angular nemusíte vědět vůbec nic.
              | Během workshopu Vás provedeme těmi nejdůležitějšími částmi, abyste na konci měli představu, jak framework
              | funguje a jaká je jeho filozofie.
              br
              p Akce bude o něco delší než obvykle a bude rozdělena do tří částí, každá z částí bude včetně přestávky zhruba na hodinu, tedy končit budeme přibližně v 20:00 v každé probereme kousek teorie a pak si všechno sami vyzkoušíte.
              br
              p Po akci bude spousta času pobavit se v přilehlé hospůdce o dalších aspektech frameworku Angular.
              p ...
            .card-action
              a(href='#') Registrovat se
              a(href='#') Více informací
        .col.s4
          .card
            .card-content
              span.card-title Organizující skupiny

              .row
                .col
                  img.responsive-img(src='/public/images/logos/logo-gdg-brno.png')
                  img.responsive-img(src='/public/images/logos/logo-gdg-brno.png')
        .col.s4
          .card
            .card-content
              span.card-title Organizátoři

              .row
                .col.s3
                  img.responsive-img.circle(src='/public/images/other/non_profilepic.png')
                  p.center Matěj
        .col.s4
          .card
            .card-content
              span.card-title Sledujte akci
              .row
                if links
                  +links(links)

