extends ../layout.pug

block content
  h1
  .section
    .container
      .card
        .card-image
          img(src='/public/images/other/event_cover.jpg')
        .card-content
          span.card-title Angular 2 Workshop
          p Workshop zaměřený na základní koncepty a práci s frameworkem Angular ve verzi 2!
          br
          p
            i.fa.fa-calendar
            | 28.3.2017
          p
            i.fa.fa-clock-o
            | 17:00
          p
            i.fa.fa-map-marker
            | Masarykova univerzita, Fakulta informatiky
          br
          p Workshop je vhodný i pro úplné začátečníky, o frameworku Angular nemusíte vědět vůbec nic.
          | Během workshopu Vás provedeme těmi nejdůležitějšími částmi, abyste na konci měli představu, jak framework
          | funguje a jaká je jeho filozofie.
          br
          p Akce bude o něco delší než obvykle a bude rozdělena do tří částí, každá z částí bude včetně přestávky zhruba na hodinu, tedy končit budeme přibližně v 20:00 v každé probereme kousek teorie a pak si všechno sami vyzkoušíte.
          br
          p Po akci bude spousta času pobavit se v přilehlé hospůdce o dalších aspektech frameworku Angular.
          p ...
        .card-action
          a(href='#') Registrovat se
          a(href='#') Více informací
