doctype html
html
  head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/css/styles.css', media='screen,projection')
    link(rel='icon', type='image/png', href='/images/favicons/' + favicon + '.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Page Not Found - GUG.cz

  body
    main
      div(style={display: 'flex', 'align-items': 'center', 'min-height': '100vh'})
        h5(style={margin: '0 auto'})
          | 404 - Page not found
