extends ../layout.pug
include ./gbg.pug
include ./gdg.pug
include ./geg.pug
include ./gxg.pug

block content
  .main
    .parallax-container.c_parallax-container.c_parallax-container--homepage
      .section.no-pad-bot
        .container
          h1.header.center.c_parallax-headline #{section.name}
          .row.center
            a.waves-effect.waves-light.btn.btn-large(href='/')
              | Chci se přidat
          .parallax
            .c_parallax-overlay
            img(src='/images/other/parallax-1.jpg')

    // TODO replace favicon - bad naming
    if favicon === 'gbg'
      +gbg-content
    else if favicon === 'gdg'
      +gdg-content
    else if favicon === 'geg'
      +geg-content
    else if favicon === 'gxg'
      +gxg-content

    // Events need to be string json - it's loaded on client side
    if events !== "null"
      .section.c_map-container
        .c_map-container__map-frame
          include ../mixins/map.pug
          +event-map(events, GMAP_API_KEY)
    .section
      .container
        h3 Skupiny
        .row
          if chapters
            each chapter in chapters
              .col
                .chapter-card
                  a(href='../chapter/' + chapter.id).card-panel.waves-effect
                    if chapter.logo
                      img(src=chapter.logo).chapter-list-item
                    else
                      p.grey-text.chapter-list-item.no-padding #{chapter.name}
