mixin gbg-content
  .section
    .container.center
      h3.center Kdo jsme a co děláme?
      p.flow-text.thin
        | V Google Business Groups (GBG) se potkávají lidé z firem, zaměstnanci či manažeři, lidé na volné noze i majitelé malých firem. Vzájemně se inspirujeme v tom, jak využít Google technologie pro podnikání, řízení, komunikaci, propagaci a obecně pro zvýšení prosperity firem. GBG v ČR je součástí&nbsp;
        a(href='https://developers.google.com/programs/gbg/', target='_blank') globálního GBG hnutí
        | . Akce pořádané GBG jsou zdarma a jsou otevřeny všem. Svými tématy se zaměřují na to, jak propagovat služby a produkty v online prostředí nebo jak zlepšovat firemní procesy prostřednictvím technologií.
      .row
        .col.s12.m4
          i.material-icons.large.blue-text date_range
          h5 Eventy
          p Pořádáme inspirativní přednášky, workshopy a další eventynabité informacemi, know how a networkingem.
        .col.s12.m4
          i.material-icons.large.red-text people
          h5 Lidé & networking
          p U nás se setkávají lidé kolem technologií s lidmi z jiných firem. Vznikají zde příležitosti pro nové spolupráce a partnerství.
        .col.s12.m4
          i.material-icons.large.green-text phonelink
          h5 Technologie & prosperita
          p Získejte přehled o trendech a inovacích i digitální dovednosti, které využijete k efektivnější práci a pro růst svého podnikání nebo projektu.
