mixin gdg-content
  .section
    .container.center
      h3 Od vývojářů pro vývojáře...
      p.flow-text.thin V GDG se potkávají zájemci o informační technologie - vývojáři, projekťáci, analytici, ale obecně všichni, které IT baví. Skupiny GDG pořádají přednášky zaměřené na technologie a pomáhají tak jejich účastníkům profesionálně růst. Nedílnou součástí je také budování a formování lokální vývojářské scény.
      .row
        .col.s12.m6.l3
          i.material-icons.large.blue-text comment
          h5 Přednášky
          p Přijď si poslechnout zkušenosti s projektem nebo technologií
        .col.s12.m6.l3
          i.material-icons.large.red-text code
          h5 Hackathony
          p Přijď během několika hodin vytvořit něco, co tu ještě nebylo
        .col.s12.m6.l3
          i.material-icons.large.yellow-text school
          h5 Workshopy
          p Přijď se dozvědět něco nového a hned si to vyzkoušet v praxi
        .col.s12.m6.l3
          i.material-icons.large.green-text videocam
          h5 Streamy
          p Nekoukej doma a přijď sledovat konferenci s námi
