mixin gxg-content
  .section
    .container.center
      h3 Co že je to GXG?
      p.flow-text Eventy skupin Google eXperience Group, zkráceně GXG, jsou určeny všem milovníkům moderních technologií. Nezáleží na tom v jakém oboru pracujete, nezáleží na tom co umíte, dokonce nezáleží ani na tom, kolik máte zkušeností. To na čem záleží, je chuť vyzkoušet něco nového, naučit se používat technologie prakticky, a třeba se i naučit si takové technologie vyrábět. Úplně nejdůležitější ale je se u toho všeho bavit. A přesně takové eventy GXG jsou. Zábavné, naučné, praktické.
      .row
        .col.s12.m6.l3
          i.material-icons.large.blue-text build
          h5 Garáže
          p Garáže jsou eventy, na kterých se můžete naučit vyrábět vlastní chytrou elektroniku. Jinak řečeno, jde o akce pro technologické kutily.
        .col.s12.m6.l3
          i.material-icons.large.red-text local_activity
          h5 Soutěže a challenge
          p Pořádáme také soutěže a challenge, které vybrousí vaše schopnosti. Rychlost, týmová práce, orientace, to vše s využitím chytrých zařízení. Kdo vyhraje příště?
        .col.s12.m6.l3
          i.material-icons.large.yellow-text comment
          h5 Přednášky a workshopy
          p Zdokonalit se v konkrétních oblastech svých zájmů vám pomohou naše workshopy na nejrůznější témata. Přednášky vám pak přinesou cenné informace, které jistě v praxi využijete.
        .col.s12.m6.l3
          i.material-icons.large.green-text videocam
          h5 Livestreamy
          p Přímé přenosy technologických konferencí jsou našimi druhými Vánocemi. Jedinečná atmosféra, spousta (ne)naplněného očekávání a nejrůznější překvapení doplněná o skvělé občerstvení.
