extends ../layout.pug




block content

  .section
    .container

      br
      br
      br

      h2 Přidejte se k nám!
      p
        | Podmínky nejsou skoro žádné a výhody mnohé! Proč se přidat k některé skupině nebo si založit vlastní?
      ul
        li
          | Chcete se potkávat s lidmi se zájmem o internet, Google aplikace a vzájemně se inspirovat?
        li
          | Chcete se dozvědět o nejnovějších technologiích a hodně se naučit od ostatních v oblastech, které VÁS zajímají?
        li Chcete se stát součástí české Google komunity a být "u toho"?
        li
          | Chcete být znám jako Google expert a jako člověk, který je "in", zároveň výrazně rozšířit svoji osobní síť?
      p Pomůžeme vám k tomu hned na několika úrovních:
      p Podpora aktivit:
      ul
        li pomůžeme vám s volbou možných aktivit a témat setkání
        li poradíme vám, jak setkání pořádat
        li v GUGu najdete i lidi, kteří vám mohou pomoci s organizací
        li
          | pro rozjezd můžeme poskytnout přednášející z partnerských organizací, event. přímo z Googlu
        li pro vybrané aktivity můžeme zařídit prostor a materiální podporu
      p Propagace:
      ul
        li zpropagujeme vaši skupinu a vytvoříme vám vlastní webový prostor
        li
          | vaše akce pomůžeme propagovat všemi prostředky: na webu, Facebooku, Twitteru, G+ i našich newsletterech
      p Inspiraci od ostatních:
      ul
        li
          | organizátoři skupin získají přístup k dalším organizátorům z celého GUG.cz i lidem z Google v organizátorské skupině
        li
          | organizátoři se stávají automaticky členem organizačního týmu českého GUG.cz a mohou ovlivňovat jeho směřování dle obrazu svého
        li propojení se světovými Google komunitami projektů GDG a GBG
      h4 Co to znamená přidat se k organizátorům GUGu?
      p
        | Dělat věci s ostatními, týkající se nejen Google technologií, které vás zajímají a baví. GUGování je o zábavě, o tom, dělat věci s ostatními, které byste beztak dělali sami, ale nyní i s podporou GUG.cz na mnoha různých úrovních.
      p
      p Co potřebujete k tomu být GUG organizátor?
      p
      ol
        li
          | Chtít být aktivní kolem nejen Google technologií s ostatními, dělat veřejné aktivity. Byli bychom rádi, kdybyste se k nám přidali, pokud chcete být aktivní, tzn. minimálně pomoci vaší skupině (ke které se přidáte nebo kterou si vytvoříte) udělat alespoň jednu akci za každé cca 3 měsíce.
        li
          | Mít zhruba představu, která z hlavních 4 zaměření GUG skupin je vám nejbližší (vývojářská - GDG, firmy a business - GBG, učení (se) - GEG, obecná technická i netechnická, méně vývojářská - GXG)
        li Být schopen komunikovat s organizátorskou a účastnickou komunitou
        li Fungovat jako svobodný člověk ve svobodném prostředí
        li Nakonec potvrdit, že souhlasíte s našimi principy
      p
        | Nejsme omezeni věkem, zkušeností, odborností, národností ani preferencí mobilního OS.
      h4 Co takový GUG organizátor dělá?
      p Může to být 100+1 aktivit - každý si u nás může něco najít! Např.:
      ul
        li vymýšlení toho, co bude vaše skupina dělat za akci
        li organizaci této akce
        li podpora při akci v zázemí nebo přímo před účastníky
        li komunikace na webu
        li vytváření vizuálních materiálů
        li focení, videa, rozhovory
        li psaní článků na GUG weby
        li management a řízení GUG týmů
        li pomoc s organizací interních GUG záležitostí - Docsů, Fór, našich srazů, apod.
        li komunikaci se speakery, hledání nových speakerů
        li komunikaci s partnery, hledání nových partnerů (firemních :))
        li propagování našich aktivit na nejrůznějších kanálech
        li
          | programování aplikací typu Agnes nebo fýčur na našem webu, který je absolutně hightech programátorský sen
        li a tisíc dalších věcí, které si vymyslíte!
      p
        | V GUGu se člověk toho hodně moc naučí a je jen na vás, co se chcete naučit. Jak vidíte, na své si přijdou extroverti i introverti, analytici i sociálněji orientovaní lidé, detailisté a dotahovači ale i stratégové a snílci, programátoři i designéři i SEO queens, tahouni i podpory týmu, atd. atd.
      h4 Co udělat, když se chcete k nám přidat?
      p Jsou dvě plus jedna možnosti, jak se k nám připojit:
      ol
        li
          | Přidat se k některé již existující skupině. Toto je užitečné, pokud už srovnatelná skupina nikde není nebo pokud máte spíš omezený časoprostor pro GUGování
        li
          | Založit skupinu svojí, pokud ve vašem místě není skupina zrovna vašeho zaměření (tzn. máme např. GXG Brno, ale není GDG Brno. Prostor pro vás!). Toto je lepší volba, pokud chcete mít věci hodně dělané podle sebe. Skupina může být i jediný člověk!
        li třetí možnost - cokoli dalšího, co jsme zatím nevyzkoušeli!
      h4 Varianta A: Jak se přidat k existující skupině?
      p
        | Spojte se s někým z existující skupiny, jejich jména a odkazy na G+ najdete na stránce skupiny na GUG.cz. Dejte jim vědět, že by vás zajímalo se zúčastnit činění skupiny jako organizátor. Možností jak se zapojit je 1000 (a víc) a určitě něco spolu vymyslíte.
      h4 Varianta B: Jak vytvořit novou skupinu?
      p Nejdřív si ověřte následující:
      ol
        li
          | Ve vaší oblasti (geografické) ještě není žádná skupina vašeho zaměření (GDG vs GBG vs GXG vs GEG). Pokud jste z většího města, je prostor pro vytvoření hned několika skupin, ale zkuste se nejdříve zamyslet, zda to, co byste chtěli dělat, by nešlo dělat již s případně existující skupinou.
        li
          | Na vás bude rozjezd a pak i údržba skupiny. Je to dost zábava, ke které potřebujete mít ale trochu času. Tak hodinu-dvě týdně. Dáváte to?
      p
        | Také se občas stává, že už máte už existující skupinu kompatibilní s námi a chtěli byste se přidat k nám. Také to jde. Buďto k názvu vaší skupiny doplníte GDG (GXG, etc.) nebo skupinu úplně přejmenujete a děláte to, co dosud, ale s naší podporou, nebo tým vaší skupiny dělá i věci kompatibilní s GUGem a pak by to bylo vytvoření nového názvu pro aktivity vaší skupiny ve vaší komunitě. Nebo, jako vždy, ještě něco nového, nevymyšleného :)
      p Pak je to jednoduché:
      ol
        li
          | Dejte nám vědět přes email
          a(href='mailto:info@gug.cz') info@gug.cz
          | , nebo 774 670 137, že vás to zajímá
        li
          | Následně spolu projdeme principy a možnosti spolupráce. Pokud se vším budeme vzájemně OK, zahájíme rozjezd vaší skupiny.
