footer.page-footer
  .container
    .row
      .col.m4.s12
        h5.white-text GUG.cz
        p.grey-text.text-lighten-4
          | Zapsaný spolek
          br
          | Rybná 716/24, 110 00, Praha 1
          br
          | IČ: 03961273
          br
          | DIČ: CZ03961273
      .col.m4.s12
        h5.white-text Newsletter
        p.grey-text.text-lighten-4
          | Přihlašte se k našemu newsletteru. Jednou za měsíc posíláme přehled nadcházejícíh akcí. Přihlásit se je možné&nbsp;
          a(href='http://eepurl.com/kNOGX').grey-text.text-lighten-1 zde
          | .
      .col.m4.s12
        h5.white-text Sledujte GUG.cz
        ul.row
          li.col
            a(href='https://plus.google.com/\+GugCz',target='_blank')
              i.white-text.fa.fa-2x.fa-google-plus-square(aria-hidden='true')
          li.col
            a(href='https://www.facebook.com/GUG.cz/',target='_blank')
              i.white-text.fa.fa-2x.fa-facebook-square(aria-hidden='true')
          li.col
            a(href='https://twitter.com/GUGcz',target='_blank')
              i.white-text.fa.fa-2x.fa-twitter-square(aria-hidden='true')
          li.col
            a(href='http://www.youtube.com/gugczgroup',target='_blank')
              i.white-text.fa.fa-2x.fa-youtube-square(aria-hidden='true')
          li.col
            a(href='http://feeds.feedburner.com/akceGUGcz',target='_blank')
              i.white-text.fa.fa-2x.fa-rss-square(aria-hidden='true')


  .footer-copyright
    .container
      | © 2014 - 2018
      a.grey-text.text-lighten-4.right(href='#!') With love made by GUGers


