footer.page-footer
    .container
        .row
            .col.l6.s12
                h5.white-text GUG Bio
                p.grey-text.text-lighten-4 GUG.cz je společenství skupin lidí se zájmem o Google technologie, nezávislé na Google. Pořádáme setkávání, přednášky, workshopy a další akce. V našich skupinách se potkávají vývojáři, lidé z firem, geeci a uživatelé, a učitelé.
                
    .footer-copyright
        .container
            | © 2014 Copyright 
            a.grey-text.text-lighten-4.right(href='#!') With love made by GUGers

        script(type='text/javascript', src='/node_modules/jquery/dist/jquery.js')
        script(type='text/javascript', src='/node_modules/materialize-css/dist/js/materialize.js')
        script(type='text/javascript', src='http://localhost:35729/livereload.js?snipver=1')