footer.page-footer
  .container
    .row
      .col.m4.s12
        h5.white-text
          b GUG.cz
        p.grey-text.text-lighten-4
          | Zapsaný spolek
          br
          | Rybná 716/24, 110 00, Praha 1
          br
          | IČ: 03961273
          br
          | DIČ: CZ03961273
      .col.m4.s12
        h5.white-text
          b Newsletter
        p.grey-text.text-lighten-4
          | Přihlašte se k našemu newsletteru. Jednou za měsíc posíláme přehled nadcházejícíh akcí. Přihlásit se je možné&nbsp;
          a(href='https://app.smartemailing.cz/public/web-forms-v2/display-form/167903-2so7n5ekfvoi62lxj05mu8sjawmoynn9h8whp2icts37payy3x1k5zxvns2x38u2009efk9leewbg1ob42oug3qdm1tcn7pebdmu').grey-text.text-lighten-1 zde
          | .
      .col.m4.s12
        h5.white-text Sledujte
          b  GUG.cz
        ul.row
          li.col
            a(href='https://www.instagram.com/gug.cz/', target='_blank')
              i.white-text.fa.fa-2x.fa-instagram(aria-hidden='true')
          li.col
            a(href='https://www.facebook.com/GUG.cz/', target='_blank')
              i.white-text.fa.fa-2x.fa-facebook(aria-hidden='true')
          li.col
            a(href='https://twitter.com/GUGcz', target='_blank')
              i.white-text.fa.fa-2x.fa-twitter(aria-hidden='true')
          li.col
            a(href='https://www.youtube.com/gugczgroup', target='_blank')
              i.white-text.fa.fa-2x.fa-youtube(aria-hidden='true')
          li.col
            a(href='https://github.com/gugcz', target='_blank')
              i.white-text.fa.fa-2x.fa-github(aria-hidden='true')
          li.col
            a(href='http://feeds.feedburner.com/akceGUGcz', target='_blank')
              i.white-text.fa.fa-2x.fa-rss(aria-hidden='true')


  .footer-copyright
    .container
      | © 2014 - 2020
      a.grey-text.text-lighten-4.right(href='#!') With &hearts; made by GUGers


