.navbar-fixed
  nav
    .nav-wrapper.container
      a.brand-logo(href='/')
        picture
          source(type='image/svg+xml' srcset='/images/logos/logo-gug.svg')
          img(src='/images/logos/logo-gug.png', alt='Logo GUG.cz').brand-logo-img
        ul.right.hide-on-med-and-down
          li
            a(href='/history') Historie
          li
            a(href='/join') Chci se přidat
