extends ./layout.pug




block content

  .section
    .container

      br
      br
      br

      h2 Naše historie
      p
        | GUG.cz vznikl v létě 2007 v hlavách Honzy Šedy (
        a(href='http://www.skilldrive.com') Skilldrive.com
        | ) a Dana France (
        a(href='http://www.unisona.com') Unisona.com
        | ), prvotní záměr byl pak jimi doladěn s Lukášem Morávkem a Taniou le Moigne z Googlu. První akce se konala v listopadu 2007 a historicky to byla první veřejná komunitní Google akce na světě, GUG.cz je proto historicky první Google komunitou vůbec. První zahraniční GTUG (předchůdce současného GDG, ke změně názvu došlo v průběhu roku 2011) vznikl začátkem roku 2008 v Silicon Valley a jeho zakladatel Van Riper je v současné době hlavním leaderem podpory GDG ze strany Googlu.
      p
        | Cca kolem roku 2009 jsme tuto verzi GUGu upgradovali na verzi 2.0, spočívající v opuštění modelu jedné centrální skupiny vytvářené podle firemního vzoru a přechodem na čistě komunitní princip, kdy těžiště aktivit leží na autonomních skupinách, první byla VŠE.GUG. Zažili jsme masivní boom aktivit. Z Google strany pomáhala v této fázi Katka Holcmanová, nyní Havrlant, v r. 2010 GUG začala intenzivní spolupráce s Filipem Hráčkem v Googlu, která trvá dodnes.
      p
        | V r. 2010 nastává ve světě rozmach GTUG (nyní GDG) vývojářských skupin. GUG.cz byl na žebříčku aktivit vždy na prvním místě v absolutním i relativním počtu průběžně realizovaných aktivit a cca v tuto dobu začínáme být vnímáni jako leadeři a inspirace pro ostatní skupiny, vznikající po celém světě.
      p
        | Na podzim 2011 jsme spustili s Ivanem Kutilem a Přemkem Brýlem firmy.gug.cz. V průběhu roku 2012 Google začal po světě zkoušet ideu business komunit pod názvem Google Business Groups s naší konzultantskou podporou. Firmy.GUG, nyní GBG Prague, zůstává první známou Google komunitou zaměřenou na firemní uživatele.
      p
        | V průběhu 2012 Lenka Urbanová za podpory Honzy Gemricha z Googlu rozjela Google Edu Group, což je aktuálně jediná známá Google komunita zaměřená na učitelskou komunitu na světě.
      p
        | V létě 2012 GUG zažil další změnu a na DevFestu 10.11.2012 jsme upgradovali na GUG 3.0, kdy vznikly 4 GUG sekce podle zaměření skupin a GUG jako takový se stal deštníkem pro tyto sekce. Vznikl koncept Google Experience Group (název z hlavy Jirky Suchomela). Google povolil GUGu vzhledem k naší silné pozici v rámci světových Google komunit exkluzivní výjimku a jsme momentálně jediná země v západním světě, která může používat značku GBG.
      p
        | GUG i nadále zůstává světově unikátní mezi Google komunitami jako společenstí zaměřené na 4 hlavní směry, nestandardní je i naše míra vzájemné spolupráce a podpory od českého Googlu. Dan Franc kromě péče o pískoviště českého GUGu aktuálně působí i jako komunitní coach Googlu pro GDG skupiny a management Googlu v Evropě, Rusku a Latinské Americe a pro GBG skupiny v oblasti Emerging markets.
