include ./head.jade

.container
  .row
    .col.s12.m4
      .card
        .card-image
          img(src='http://materializecss.com/images/sample-1.jpg')
          span.card-title GUG HowtoPraha
        .card-content
          p
            | Jsem jednoduchý popis eventu o pravidelné nachytřovací akci pro GUGery.
            | Pořádaný skvělými GUGery z české republiky
        .card-action
          a(href='#') Chci vědět víc
    .col.s12.m4
      .card
        .card-image
          img(src='http://materializecss.com/images/sample-1.jpg')
          span.card-title GUG HackatonTobis place
        .card-content
          p
            | Jsem jednoduchý popis eventu o prvním hackatonu, kde jsme začali vyvíjet tento web.
            | Pořádaný skvělými GUGery z české republiky
        .card-action
          a(href='#') Chci vědět víc
    .col.s12.m4
      .card
        .card-image
          img(src='http://materializecss.com/images/sample-1.jpg')
          span.card-title DevFestOstrava
        .card-content
          p
            | Jsem jednoduchý popis eventu o devfestu v Ostravě. #devfestpyčo
            | Pořádaný skvělými GUGery z české republiky
        .card-action
          a(href='#') Chci vědět víc

include ./foot.jade