extends layout.pug

block content
  main
    .parallax-container.c_parallax-container.c_parallax-container--homepage
      .section.no-pad-bot
        .container
          .wrapper
            .wrapper
              h1.header.center.c_parallax-headline
                | Google User Group
              .row.center

                h5.header.col.s12
                  | Komunita aktivních lidí pořádající akce nejen o Google technologiích
              .row.center
                //a.waves-effect.waves-light.btn.btn-large(href='#map').margin-10
                  | Naše akce
                a.waves-effect.waves-light.btn.btn-large(href='/join').margin-10
                  | Chci se přidat

              .parallax
                .c_parallax-overlay
                img(src='/images/other/parallax-gug.jpg')

    .section
      .row.container
        .col.s12.center-align
          h3.header
            | Co je to GUG?
        .col.s12.left-align
          p.flow-text
            | GUG.cz je společenství skupin lidí se zájmem o Google technologie, nezávislé na Google. Pořádáme setkávání, přednášky, workshopy a další akce. V našich skupinách se potkávají vývojáři, lidé z firem, geeci a uživatelé, a učitelé.

    // Events need to be string json - it's loaded on client side
    if events !== "null"
      .section.c_map-container.scrollspy(id='map')
        .c_map-container__map-frame

          include mixins/map.pug

          +event-map(events, GMAP_API_KEY)

    .section
      .container
        .row.valign-wrapper
          .col.s4.center-align
            a(href='/section/gdg')
              picture
                source(type='image/svg+xml', srcset='/images/logos/logo-gdg.svg')
                img.responsive-img(src='/images/logos/logo-gdg.png', alt='Logo GDG.cz')
          .col.s8
            p.flow-text
              | GDG je společenství od vývojářů pro vývojáře. Pořádáme přednášky, workshopy a další všemožná setkání o vývojářských technologiích nejen od Google.
            a.waves-effect.waves-light.btn(href='/section/gdg')
              | více o GDG
        .divider.divider-padding
        .row.valign-wrapper
          .col.s8
            p.flow-text
              | V GBG se potkávají lidé z firem, zaměstnanci či manažeři, lidé na volné noze i majitelé malých firem. Vzájemně se inspirujeme v tom, jak využít Google technologie pro podnikání, řízení, komunikaci, propagaci a obecně pro prosperující firmy.
            a.waves-effect.waves-light.btn(href='/section/gbg')
              | více o GBG
          .col.s4
            a(href='/section/gbg')
              picture
                source(type='image/svg+xml', srcset='/images/logos/logo-gbg.svg')
                img.responsive-img(src='/images/logos/logo-gbg.png', alt='Logo GBG.cz')
        .divider.divider-padding
        .row.valign-wrapper
          .col.s4.center-align
            a(href='/section/geg')
              picture
                source(type='image/svg+xml', srcset='/images/logos/logo-geg.svg')
                img.responsive-img(src='/images/logos/logo-geg.png', alt='Logo GEG.cz')
          .col.s8
            p.flow-text
              | GEG je společenství skupin lidí se zájmem o Google technologie, nezávislé na Google. Pořádáme setkávání, přednášky, workshopy a další akce. V našich skupinách se potkávají vývojáři, lidé z firem, geeci a uživatelé, a učitelé.
            a.waves-effect.waves-light.btn(href='/section/geg')
              | více o GEG
        .divider.divider-padding
        .row.valign-wrapper
          .col.s8
            p.flow-text
              | GXG je společenství skupin lidí se zájmem o Google technologie, nezávislé na Google. Pořádáme setkávání, přednášky, workshopy a další akce. V našich skupinách se potkávají vývojáři, lidé z firem, geeci a uživatelé, a učitelé.
            a.waves-effect.waves-light.btn(href='/section/gxg')
              | více o GXG
          .col.s4
            a(href='/section/gxg')
              picture
                source(type='image/svg+xml', srcset='/images/logos/logo-gxg.svg')
                img.responsive-img(src='/images/logos/logo-gxg.png', alt='Logo GXG.cz')
    .section.green
      include mixins/organizer.pug
      .container
        h3.header.white-text Organizátoři
        p.white-text GUG není jen organizace, je hlavně o lidech:
      .orgs-row.center
        ul.orgs
          each organizer in organizers
            +organizer(organizer.name, organizer.profilePicture, organizer.links)

      .container
        p.white-text Máš chuť se taky podílet? Jsme otevřeni novým tvářím. Navíc to můžeš jenom zkusit a sám uvidíš jestli tě to bude bavit. My si troufáme tvrdit, že ano!
        a(href='/join').waves-effect.waves-light.btn Přidej se k nám
        h1
    .section
      .container.center
        h3 Partneři
        .col
          .row
            a(href="https://google.com")
              img(src='/images/logos/logo-google.svg').responsive-img
          .row
            a(href="https://dotekomanie.cz")
              img(src='/images/logos/logo-dotekomanie.png').responsive-img
          .row
            a(href="http://pracovnapraha.cz/")
              img(src='/images/logos/logo-zenysro.png').responsive-img
        a.waves-effect.waves-light.btn.btn-large(href='mailto:filip@gug.cz?subject=Partnerství s GUG.cz')
          | Stát se partnerem
        h1
