doctype html
html
  head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/public/css/styles.css', media='screen,projection')
    link(rel='icon', type='image/png', href='/public/images/favicons/' + favicon + '.png')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - GUG.cz

  body
    block header
      include layout/head

    block content

    block foot
      include layout/foot
