doctype html
html
  head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/css/styles.css', media='screen,projection')
    link(rel='icon', type='image/png', href='/images/favicons/' + favicon + '.png')
    script(src='/js/app.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - GUG.cz

  body
    header
      block header
        include head


    // In case of needed sticky footer add main tag to content block
    block content


    block foot
      include foot
