extends ../layout.pug

block content

  .parallax-container
    .section.no-pad-bot
      .container
        .wrapper
          .wrapper
            img(src='/public/images/logos/logo-icon-gdg.png').chapter-logo
            h1.header GDG Brno
            p
              | Google Developer Group Brno je komunitní uskupení pro vývojáře v Brně. Organizujeme akce jako jsou přednášky, hackathony nebo workshopy. Jsme otevřeni novým nápadům a spoluprácím, takže pokud máš nápad, stačí nás jen kontaktovat.
              br
              br
              | GDG Brno je nezávislá skupina. Naše aktivity a výroky nemají žádnou spojitost se společností Google.
              br
              br
              |  Těšíme se na vás na našich akcích!

        .parallax
          .c_parallax-overlay
          img(src='/public/images/other/parallax-1.jpg')
